@import 'theme';

body{
    //overflow: hidden;
}

.advisorPage{

    .loadingNotification{
        text-align: center;
        margin-top: 45vh;

        p{
            font-size: 20px;
            padding-top: 30px;
            color: $color-secondary;
        }
    }

    .mainRow{
        width: 100vw;
        height: 100vh;
    }
    
    .elementRow{
        padding: 0;
        margin: 0;
        max-width: 100vw;
        max-height: 100vh;
    }

    .pieChartCol{
        background-color: $background-color;
        max-width: 100vw;
        max-height: 100vh;
        padding: 50px;
        position: relative;
        
        .textDisplay{
            z-index: 1;
            width: 100%;
            padding: 50px;
            height: 100%;
            background-color: rgb(113, 125, 133);
            border-radius: 35px;
            color: white;

            p{
                padding: 50px;
                color: white;
            }

            .backButton{
                position: absolute;
                bottom: 100px;
                left: 100px;
                background-color: transparent;
                border: none;
            }
        }

            
            .halfPieChart{
                position: absolute;
                //right: -200px;
                //left: calc(-50vw + 50%);
                z-index: 2;
            }
        
        
    }




}