@import 'theme';

.advisorPage{

    width: fit-content;

    .loadingNotification{
        text-align: center;

        p{
            font-size: 20px;
            padding-top: 30px;
            color: $color-secondary;
        }
    }
    
    .buttonCol{

        .nextButton{
            font-size: 28px;
            
            .icon{
                margin-left: 10px;
                padding-bottom: 4px;
            }
        }
    }

}