@import 'theme';
@import 'CBM_descriptions';
@import 'LCI_descriptions';

.descriptionRow{
    height: 100%;
    padding: 0;
    margin: 0;
}

.twoElementRow{
    height: 50%;
    padding: 0;
    margin: 0;
}

.rotated-text{
    padding-top: 20px;
    margin: auto;
    writing-mode: vertical-lr; //works better than rotate
    font-size: 30px;
    font-family: 'Barlow-Light';
    white-space: pre-wrap;
    //margin-left: -50%;
    //transform-origin: 0 0; /* #TODO: check how to properly asign origin */
    line-height: 35px;
}

.mobile-totated-text{
    padding-top: 0px;
    font-family: 'Barlow-Bold' !important;
    font-size: 20px !important;
}

.mobileDescription{
    // Description text
    h2{
        font-size: 40px;
        font-weight: 600;
        padding-top: 30px;
        padding-left: 10px;
        font-family: "Barlow-SemiBold";
    }

    p{
        font-size: 20px;
        font-family: "Lato-Light";
    }
}

.choosableElement{
    padding: 0;
    position: relative;
    height: 100%;

    container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 13vh;
        //background-color: rgb(113, 125, 133);
        overflow: hidden;
    }

    // The CHOOSE
    h1{
        margin-top: 20px;
        font-family: 'Barlow-Bold';
        font-size: 34px;
        text-align: center;
        @media ( max-width: 1700px ) {
            font-size: 25px;
        }
    }

    .description{
        padding: 60px 20px 0px 0px;
        height: 100%;
        min-height: 99vh;
        max-height: 99vh; 
        background-image: url("../public/images/LCI/Icon_raw_material_intensive.png");
        background-position: center;
        background-size: 150%;
        background-repeat: no-repeat;


        container{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 18vh;
            //background-color: rgb(113, 125, 133);
            overflow: hidden;
        }
    }
    
    // Description text
    h2{
        font-size: 40px;
        font-weight: 600;
        padding-top: 30px;
        padding-left: 10px;
        font-family: "Barlow-SemiBold";
    }

    p{
        position: relative;
        margin: 30px 40px 0px 40px;
        font-size: 20px;
        font-family: "Lato-Light";
    }

    .col{
        padding: 0;
    }

    // The Checkmark Button
    .buttonCol{
        background-color: rgba(255, 255, 255, 0.278);
        padding: 20px;
        margin-top: 10px;
        text-align: center;
        @media ( max-width: 1700px ) {
            padding: 15px 0px 15px 0px;
        }
    }

    .arrowIcon{
        text-align: center;
        position: absolute;
        bottom: 0;
        margin-bottom: 90px;
    }
    
    .arrowIconClose{
        text-align: center;
        position: absolute;
        left: 60%;
        bottom: 0;
        margin-bottom: 90px;
    }

}   


.choosableElement2Row{
    padding: 0;
    position: relative;
    height: 100%;

    container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 3vh;
        //background-color: rgb(113, 125, 133);
        overflow: hidden;
    }

    h1{
        margin-top: 20px;
        font-family: 'Barlow-Bold';
        font-size: 34px;
        text-align: center;
        @media ( max-width: 1700px ) {
            font-size: 25px;
        }
    }
    
    
    .rotated-text{
        padding-top: 20px;
        margin: auto;
        text-align: left;
        writing-mode: vertical-rl; //works better than rotate
        //transform: rotate(90deg);
        font-size: 30px;
        font-family: 'Barlow-Light';
        white-space: pre-wrap;
        //margin-left: -50%;
        //transform-origin: 0 0; /* #TODO: check how to properly asign origin */
        line-height: 35px;
    }

    .col{
        padding: 0;
    }

    .buttonCol{
        background-color: rgba(255, 255, 255, 0.278);
        padding: 20px;
        margin-top: 10px;
        text-align: center;
        @media ( max-width: 1700px ) {
            padding: 15px 0px 15px 0px;
        }
    }

    .arrowIcon{
        text-align: center;
        position: absolute;
        bottom: 0;
        margin-bottom: 30px;
    }

}   

.description2Row{
    padding: 60px 20px 0px 0px;
    max-height: 100%;
    height: 100%;

    position: relative;

    h2{
        padding-top: 30px;
        padding-left: 10px;
        font-size: 40px;
        font-weight: 600;
        font-family: "Barlow-SemiBold";
    }

    p{
        position: relative;
        margin: 30px 40px 0px 40px;
        font-size: 20px;
        font-family: "Lato-Light" !important;
    }

    .arrowIconClose{
        position: absolute;
        bottom: 30px;
        left: 45%;
    }
}