@import 'theme';

.footer {
    background: $color-primary;
    position: fixed;
    bottom: 0;
    margin-left: 1%;
    width: 98%;
    max-height: $footer-height;
    height: 100%;
    //margin-left: 1%;

    /* Border Settings */
    border-top: 3px outset $color-secondary;
    border-left: 3px outset $color-secondary;
    border-right: 3px outset $color-secondary;
    border-radius: 50px 50px 0px 0px;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-topright: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    .backButton{
        background: transparent;
        border: none;
    }

    .footerButton{
        background: $color-primary;
        border-color: $color-secondary;
        border-width: 2px;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    .footerButton:hover{
        background: $color-secondary;
    }
    .footerButtonActive{
        background: $accent-color;
    }

}