@import 'theme';

.homePage{    
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    .colorBackground{
        position: relative;
        background-image: url("/images/Farbkachel_new.png");
        background-size: cover;

        h1{
            position: absolute;
            bottom: 45%;
            left: 5%;
            font-size: 90px;
            font-weight: bold;
            font-family: 'Barlow-Bold';
        }

        p{
            position: absolute;
            bottom: 39%;
            left: 5%;
            font-family: 'Barlow-Regular';
            max-width: 400px;
        }
    }

    .row{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .buttonCol{
        margin: 0;
        padding: 0;
        
        .col{
            margin: 0;
            padding: 0;
        }
    }
    
    .navigationButton{
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: none;
        padding: 0;
        margin: 0;
        
        .backgroundImage{
            display: flex;
            align-items: center;
            text-align: center;
            min-height: 100px;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: 50% 0;
            background-repeat: no-repeat;
        }
        
        .roadmap{
            background-image: url("/images/Kachel Roadmap.png");
        }        
        .library{
            background-image: url("/images/Kachel Bibliothek.png");
        }
        .newProject{
            background-image: url("/images/Kachel Neues Projekt.png");
            background-size: cover;
            
        }
        .archive{
            background-image: url("/images/Kachel Archiv.png");
        }

        img{
            padding: 0;
            
            margin: auto;
        }

        p{
            font-size: 35px;
            margin: auto;
            font-family: 'Barlow-Regular';
        }
    }
    .navigationButton:hover{
        background-image: none;
        background-color: rgb(134, 134, 134);
    }


}

