@import 'theme';

.indexPage{
    width: 100%;
    height: 100%;
    position: relative;
    color: black;
    
    .greyBox{
        position: absolute;
        width: 600px;
        height: 702px;
        z-index: 0;
        top: 0;
        left: 200px;
        background-color: rgb(94, 103, 110);

        p{
            position: absolute;
            bottom: 90px;
            left: 10px;
            font-size: 20px;
        }
    }

    .bigBallContainer{
        position: absolute;
        right: 50%;
        top: 170px;
        z-index: 1;
        width: 20%;
        height: 20%;
    }

    .logoContainer{
        position: absolute;
        bottom: -630px;
        left: 167px;
        z-index: 1;
        width: 30%;
        height: 30%;
    }

    .loginButton{
        position: absolute;
        top: 100px;
        right: 100px;
        border-radius: 0;
        color: white;
        background-color: black;
        width: 150px;
    }

    .startButtonContainer{
        position: absolute;
        bottom: -950px;
        right: 100px;

        .button{
            padding-left: 200px;
            background-color: rgb(196, 132, 104);
            border-radius: 0;
            border: 0;
        }
    }

    .flyingText{
        position: absolute;
        top: 300px;
        right: 150px;
        z-index: 2;
        font-size: 20px;
    }

}