@import 'theme';

.playground{
    width: 100%;
    height: 100%;
    position: relative;
    color: black;
    
    .greyBox{
        position: absolute;
        width: 600px;
        height: 700px;
        z-index: 0;
        top: 0;
        left: 400px;
        background-color: rgb(94, 103, 110);

        p{
            position: absolute;
            bottom: 50px;
            left: 10px;
        }
    }

    .bigBallContainer{
        position: absolute;
        right: 30%;
        bottom: 0;
        z-index: 1;
        width: 30%;
        height: 30%;
    }

    .logoContainer{
        position: absolute;
        bottom: -650px;
        left: 300px;
        z-index: 1;
        width: 30%;
        height: 30%;
    }

    .loginButton{
        position: absolute;
        top: 100px;
        right: 100px;
        border-radius: 0;
        color: white;
        background-color: black;
        width: 150px;
    }

    .startButtonContainer{
        position: absolute;
        bottom: -800px;
        right: 200px;

        .button{
            padding-left: 130px;
            background-color: rgb(196, 132, 104);
            border-radius: 0;
            border: 0;
        }
    }

    .flyingText{
        position: absolute;
        top: 200px;
        right: 250px;
        z-index: 2;
        font-size: 20px;
    }

}