body {
    background-color: rgb(194, 194, 194);
  }

.Roadmap{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    .row{
        position: relative;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .navbarCol{
        padding: 40px;
        margin: 0;
        background-color: rgb(230, 230, 230);
        padding-top: 10%;

        .homeButton{
            border: none;
            background-color: transparent;
        }
        
        h1{
            padding: 30px;
            padding-top: 60px;
            font-size: 30px;
        }
        
        p{
            padding: 10px;
            font-size: 15px;
            
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("/icons/Roadmap.png");
        }
    }

    .roadmapCol{
        width: 100%;
        height: 100vh;
        padding: 0;
        padding-left: 20px;
        margin: 0;
        background-color: rgb(194, 194, 194);

        .roadmapImage{
            display: flex;
            align-items: center;
            text-align: center;
            min-height: 100px;
            height: 100%;
            width: 100%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("/images/Roadmap_mit Text.png");
        }
    }
}