.solutionOverview {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;

    .cbm-background{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        background-image: url("/images/solution_cbm.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .lcp-background{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        background-image: url("/images/solution_lcp_ipad.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    h1{
        position: absolute;
        left: 50px;
        top: 50px;
        font-weight: bold;
    }

    .textBox{
        position: absolute;
        top: 14%;
        max-width: 180px;
        text-align: end;
        font-size: 15px;

        .number{
            font-size: 45px;
            font-size: bold;
        }
        .subtitle{
            font-size: 20px;
        }
    }
    
    @media (max-width: 1400px) {
        // First textBox
        .box1{
            left: 24%;
            
            .subtitle{
                padding-top: 5%;
            }
        }
        
        .box2{
            left: 43%;

            .subtitle{
                padding-top: 38%;
            }
        }
        
        .box3{
            left: 63%;

            .subtitle{
                padding-top: 35%;
            }
        }

        .box4{
            left: 83%;

            .subtitle{
                padding-top: 35%;
            }
        }
    }
    
    @media (min-width: 1401px) {
        .textBox{
            top: 8%;
        }

        // First textBox
        .box1{
            left: 28%;
            
            .subtitle{
                padding-top: 24%;
            }
        }
        
        .box2{
            left: 47%;

            .subtitle{
                padding-top: 61%;
            }
        }
        
        .box3{
            left: 67%;

            .subtitle{
                padding-top: 76%;
            }
        }

        .box4{
            left: 88%;

            .subtitle{
                padding-top: 89%;
            }
        }
    }

    .link{
        position: absolute;
        align-items: center;
        text-align: start;
        background-image: url("/images/arrow_underline.png");
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        
        p{
            padding-right: 30px;
            font-size: 25px;
        }
    }
    
    .link1{
        right: 5%;
        bottom: 25%;
        color: grey;
    }
    .link2{
        right: 5%;
        bottom: 18%;
        color: grey;
    }
    .link3{
        right: 5%;
        bottom: 10%;
        padding-bottom: 10px;
    }


}