/**
* All variables e.g. colors are stored here.
* Theme has to be imported to other scss files with @import 'theme'; in order to access the variables.
* variables are accessed with $ e.g. $color-primary.
* Icons are used from the React-Icons Library: https://react-icons.github.io/react-icons
*/

$color-primary: #ffffff;
$color-secondary: #424b5a83;
$accent-color: #97d3f0bc;

$footer-height: 100px;

.standardButton{
    background: $accent-color;
          color: white;
          border: none;
          font-size: 20px;
          max-width: 300px;
          width: 100%;
          border-radius: 25px;
          margin: 10px;
  }
  .standardButton:hover{
    background: $color-secondary;
  }