/**
* All variables e.g. colors are stored here.
* Theme has to be imported to other scss files with @import 'theme'; in order to access the variables.
* variables are accessed with $ e.g. $color-primary.
* Icons are used from the React-Icons Library: https://react-icons.github.io/react-icons
*/

$color-primary: #ffffff;
$footer-height: 100px;

// New Design
$background-color: rgb(232, 232, 232);
$color-secondary: rgb(192, 192, 192);
$color-secondary-light: rgb(204,204,204);
$accent-color: rgb(237,191,98);

.standardButton{
    background: $accent-color;
    color: white;
    border: none;
    font-size: 20px;
    max-width: 300px;
    width: 100%;
    border-radius: 25px;
    margin: 10px;
  }
  .standardButton:hover{
    background: $color-secondary;
  }
