/**
* All variables e.g. colors are stored here.
* Theme has to be imported to other scss files with @import 'theme'; in order to access the variables.
* variables are accessed with $ e.g. $color-primary.
* Icons are used from the React-Icons Library: https://react-icons.github.io/react-icons
*/

$color-primary: #ffffff;
$footer-height: 100px;

// New Design
$background-color: rgb(232, 232, 232);
$color-secondary: rgb(192, 192, 192);
$color-secondary-light: rgb(204,204,204);
$accent-color: rgb(237,191,98);

@font-face {
  font-family: 'BarlowCondensed';
  src: url('../public/fonts/BarlowCondensed-SemiBold.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BarlowCondensed-light';
  src: url('../public/fonts/BarlowCondensed-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-light';
  src: url('../public/fonts/Lato-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow-Regular';
  src: url('/fonts/BarlowCondensed-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow-Bold';
  src: url('/fonts/BarlowCondensed-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow-SemiBold';
  src: url('/fonts/BarlowCondensed-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow-light';
  src: url('/fonts/BarlowCondensed-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('/fonts/RobotoCondensed-Medium.ttf');
  font-weight: 300;
  font-style: normal;
}

h1, h2 {
  font-family: 'BarlowCondensed';
  font-weight: 400;
}

p{
  font-family: 'Lato-Light';
  font-weight: 300;
}

.standardButton{
    background: $accent-color;
    color: white;
    border: none;
    font-size: 20px;
    max-width: 300px;
    width: 100%;
    border-radius: 25px;
    margin: 10px;
  }
  .standardButton:hover{
    background: $color-secondary;
  }
